<!DOCTYPE html>
<html>
  <head>
    <title>Aayush Chhabra</title>
    <% include includes/bootstrap.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Aayush Chhabra </h1>
    <p style="margin-left: 50px;">I do Computers.</p>
    <ul >
      <li><a href="/about" >About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/books" target="_blank">Books</a></li>
      <li><a href="/resume" target="_blank">Resume</a></li>
      <li><a href="/resume/download" target="_blank">Resume download</a></li>
    </ul>
    
    
    
  </body>
</html>