<!DOCTYPE html>
<html>
  <head>
    <title>Aayush Chhabra</title>
    <% include includes/bootstrap.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Aayush Chhabra </h1>
    <p>I do Computers.</p>
  </body>
</html>